@model IEnumerable<AspNetIdentity.Models.PerfilFormacionModel>


                <table class="table">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.NombreEscolaridad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreEspecialidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EXPERIENCIA)
                        </th>

                        <th width="10%"></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.NombreEscolaridad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreEspecialidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EXPERIENCIA)
                            </td>

                            <td>
                                <a href="#" onclick="Ejecutar ('@item.ID_FORMACION','PerfilFormacion','Edit'); return false;" title="Modificar" style="color: #013ADF;"><i class="fa fa-refresh" aria-hidden="true"></i></a> |
                                <a href="#" onclick="Ejecutar ('@item.ID_FORMACION','PerfilFormacion','Detail'); return false;" title="Detalle" style="color: #013ADF;"><i class="fa fa-search" aria-hidden="true"></i> </a> |
                                <a href="#" onclick="Ejecutar ('@item.ID_FORMACION','PerfilFormacion','Delete'); return false;" title="Borrar" style="color: #013ADF;"><i class="fa fa-trash" aria-hidden="true"></i></a> |

                            </td>
                        </tr>
                    }

                </table>
              