@model AspNetIdentity.Models.PerfilFinalidadModel

<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title">Crear Finalidades</h3>
        <p class="card-text">Perfil / Finalidades</p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_PERFIL, htmlAttributes: new { @class = "control-label col-md-2",  @style = "display:none" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ID_PERFIL, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                @Html.ValidationMessageFor(model => model.ID_PERFIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACCION, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ACCION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ACCION, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FUNCION, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FUNCION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FUNCION, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RESULTADOS, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RESULTADOS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RESULTADOS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                                <br />
                                <a href="@Url.Action("../PerfilFinalidad/Index", "Index" , new { IdP = Model.ID_PERFIL } )">
                                    Ver
                                </a>
                                <br />
                                <a href="@Url.Action("../Perfil/Details", "Details", new { IdTable = @Request["IdTable"]  } )" class=" ">Regresar</a>
                                <br />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>