@model AspNetIdentity.Models.HvUbicacionModel

@{
    Layout = null;
}

<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title">Borrar Ubicacion  @Html.DisplayFor(modelItem => Model.ID_HV_HUBICACION) </h3>
        <p class="card-text">Hoja de Vida / Actitud</p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">  </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        PAIS
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NOMBRE_PAIS)
                    </dd>
                    <dt>
                        DEPARTAMENTO
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NOMBRE_DEPTO)
                    </dd>
                    <dt>
                        CIUDAD
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NOMBRE_CIUDAD)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NOMENCLATURA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NOMENCLATURA)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LOCALIDAD)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LOCALIDAD)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                      
                    </div>
                }
            </div>
        </div>
    </div>
</div>