
@{
    ViewBag.Title = "Edit";
}
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title"> Parametrizador Curriculum Vitae</h3>
        <p class="card-text">Curriculum Vitae</p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">  </div>
            <div class="card-body">
                <a href='@Url.Action("../HvCtActitudes", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Actitudes
                </a>
                <a href='@Url.Action("../HvCtCargo", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Cargo
                </a>
                <a href='@Url.Action("../HvCtCiudad", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Ciudad
                </a>
                <a href='@Url.Action("../HvCtConocimientos", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Conocimientos
                </a>
                <a href='@Url.Action("../HvCtDepto", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Depto
                </a>
                <a href='@Url.Action("../HvCtDisiplina", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Disiplina
                </a>
                <a href='@Url.Action("../HvCtEmpresa", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Empresas
                </a>
                <a href='@Url.Action("../HvCtEstadoCivil", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Estado Civil
                </a>
                <a href='@Url.Action("../HvCtInstituciones", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Instituciones
                </a>
                <a href='@Url.Action("../HvCtPais", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Pais
                </a>
                <a href='@Url.Action("../HvCtTipoIdentificacion", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Tipo Identificacion
                </a>
                <a href='@Url.Action("../HvCtTitulos", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Titulos
                </a>
                <a href='@Url.Action("../HvCtGenero", "Index")' class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Hv Ct Genero
                </a>
            </div>
        </div>
    </div>
</div>
