
@{
    ViewBag.Title = "Edit";
}
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title"> Parametrizador Perfil</h3>
        <p class="card-text">Perfil</p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">  </div>
            <div class="card-body">

                <a href="@Url.Action("../PerfilCtArea", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Area
                </a>
                <a href="@Url.Action("../PerfilCtCompetencias", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Competencias
                </a>
                <a href="@Url.Action("../PerfilCtEscolaridad", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Escolaridad
                </a>
                <a href="@Url.Action("../PerfilCtEspecialidad", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Especialidad
                </a>
                <a href="@Url.Action("../PerfilCtIdiomas", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Idiomas
                </a>
                <a href="@Url.Action("../PerfilCtIdiomasNivel", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Idiomas Nivel
                </a>
                <a href="@Url.Action("../PerfilCtSubArea", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Sub Area
                </a>
                <a href="@Url.Action("../PerfilCtTiposCompetencia", "Index")" class="list-group-item list-group-item-action waves-effect dropdown-item">
                    <i class="fa fa-user mr-3"></i>Perfil Ct Tipos Competencias
                </a>

            </div>
        </div>
    </div>
</div>
