@model AspNetIdentity.Models.PerfilRelacionesModel
@{
    ViewBag.Title = "Detalle Finalidad" + @Html.DisplayFor(modelItem => Model.NOMBRE);
}

<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title">Detalle Relaciones  @Html.DisplayFor(modelItem => Model.NOMBRE) </h3>
        <p class="card-text">Perfil / Relaciones</p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">  </div>
            <div class="card-body">


                <hr />
                <dl class="dl-horizontal">
                  

                    <dd>
                        @Html.DisplayFor(model => model.ID_PERFIL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TIPO)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TIPO)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NOMBRE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NOMBRE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MOTIVO)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MOTIVO)
                    </dd>
                </dl>
            </div>
            <p>
               
              
            </p>
        </div>
    </div>
</div>
